<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="{% static 'journal/images/icon.png' %}">
  <title>
    {% block page_tittle %}
    {% endblock %}
  </title>
  <link type="text/css" href="{% static 'journal/css/bootstrap.css' %}" rel="stylesheet">
  <link type="text/css" href="{% static 'journal/css/style.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  {% block head %}
  {% endblock %}
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="{% url 'index' %}">♫usicWare</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        {% if request.user.is_authenticated %}

          {% if active  == "playlists" %}
            <li class="nav-item active">
          {% else %}
            <li class="nav-item">
          {% endif %}
              <a class="nav-link" href="{% url 'playlists' %}">
                <i class="fa fa-play" style="margin-right:5px"></i>Playlists
              </a>
            </li>

          {% if active  == "sessions" %}
            <li class="nav-item active">
          {% else %}
            <li class="nav-item">
          {% endif %}
              <a class="nav-link" href="{% url 'sessions' %}">
                <i class="fa fa-history" style="margin-right:5px"></i>Sessions
              </a>
            </li>

          {% if active  == "practice_items" %}
            <li class="nav-item active">
          {% else %}
            <li class="nav-item">
          {% endif %}
              <a class="nav-link" href="{% url 'practice_items' %}">
                <i class="fa fa-music" style="margin-right:5px"></i>Practice items
              </a>
            </li>

          {% if active  == "composers" %}
            <li class="nav-item active">
          {% else %}
            <li class="nav-item">
          {% endif %}
              <a class="nav-link" href="{% url 'composers' %}">
                <i class="fa fa-pen-nib" style="margin-right:5px"></i>Composers
              </a>
            </li>

          {% if active  == "goals" %}
            <li class="nav-item active">
          {% else %}
            <li class="nav-item">
          {% endif %}
              <a class="nav-link" href="{% url 'index' %}">
                <i class="fa fa-check" style="margin-right:5px"></i>Goals
              </a>
            </li>

        {% endif %}
      </ul>
    <span class="navbar-text">
      {% if not request.user.is_authenticated %}
        <a href="{% url 'login' %}" style="margin-right:10px">
          <i class="fa fa-user" style="margin-right:5px" ></i>Login
        </a>
      {% else %}
         <a href="/admin" style="margin-right:10px">
           <i class="fa fa-user" style="margin-right:5px"></i>{{ request.user.first_name }}
         </a>
      {% endif %}
    </span>
    </div>
  </nav>

  <div class="container">
    {% block body %}
    {% endblock %}
  </div>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
          integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
          integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
  </script>
  <script src="{% static 'journal/js/bootstrap.js' %}"></script>
  <script src="{% static 'journal/js/template.js' %}"></script>
  {% block scripts %}
  {% endblock %}
  {% for m in messages %}
    {% if m.level_tag == 'error' %}
      <div class="alert alert-danger alert-dismissible" role="alert">
    {% elif m.level_tag == 'success' %}
      <div class="alert alert-success alert-dismissible" role="alert">
    {% else %}
      </div>
    {% endif %}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    {{ m.message }}
    </div>
  {% endfor %}
</body>
</html>