.form-signin {
    max-width: 330px;
    padding: 10px;
    margin: 100px auto;
}

.btn-signin {
    margin-top: 20px;
}

body {
    margin-top: 80px!important;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	border-radius:50px;
	text-align:center;
}

.pretext {
	margin-right:5px;
}
